h5 > a:hover {
    color: #0275d8;
}

strong {
    color: black;
}

a:hover {
    text-decoration: none;
}

.carItem {
    width: 200px;
    height: 150px;
}

    .carItem:hover {
        border: 1px solid #0275d8;
    }

textarea {
    resize: none;
}

.zoom {
    transition: transform .2s;
    cursor: pointer;
}
    .zoom:hover {
        transform: scale(1.5);
    }

.carousel {
    width: 1920px;
    max-width: 80%;
}
.grad {
    background-image: linear-gradient(180deg, white, #e1ebfc);
}